@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

.webg-footer-text {
	font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	margin-top: 10px;
}
.webg-footer-img {
	margin-bottom: 10px;
}

















