@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
}
.webg-services {
	background-color: #58488a;
	padding: 50px 0;
}
.webg-title-services {
	color: #eee;
	text-transform: uppercase;
	font-size: 17px;
}
.webg-text-services {
	color: #c7c0de;
}
.webg-contact {
	background: url("../img/contact.png");
	padding: 50px 0;
}
.webg-title-contact {
	color: #000;
	text-transform: uppercase;
	font-size: 17px;
}
.webg-text-contact {
	color: #000;
}
.btn-success {
	border-color: #47a447;
	border-radius: 0;
	font-size: 16px;
}

















